* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f0f0f0;
}

/* header section */
#container {
  background-color: #353a40;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
#header-txt {
  color: white;
  font-weight: lighter;
}

#user-wallet {
  visibility: hidden;
  background-color: #19a3ae;
  border-radius: 7px;
}

#user-wallet select {
  appearance: none;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 1rem 3rem 1rem 1rem;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

#user-dropdown {
  font-size: 2em;
}

/* content section */
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ghost-img {
  width: 400px;
  height: 400px;
  margin: 2rem 0;
}

.ops-header {
  font-weight: 500;
  font-size: xx-large;
  margin: 8px 0;
}
#create-wallet {
  margin: 10px 0;
  background-color: #19a3ae;
  padding: 1rem;
  border: none;
  font-size: large;
  border-radius: 7px;
  color: white;
  transition: border 0.3s, color 0.3s, background-color 0.3s;
}

#create-wallet:hover {
  cursor: pointer;
  color: #19a3ae;
  background-color: white;
  border: 1px solid #168d96;
}

/* popup section */
.popup-container {
  visibility: hidden;
}

/* styles for wallet-view file  */
.container-all {
  width: 80%;
  margin: 3rem auto;
}

.wallet-balance,
.wallet-balance span {
  font-size: 3rem;
  font-weight: normal;
}

/* make transaction section */
.make-transaction-container {
  margin: 3rem 0 10px 0;
}

.row-flex-container {
  display: flex;
  align-items: center;
}
.input-container {
  display: inline-flex;
  height: 2.5rem;
  width: 25%;
  border: 1px solid rgb(195, 195, 195);
  align-items: center;
  border-radius: 7px;
  justify-content: space-evenly;
  margin: 10px 0;
}

.input-container input {
  appearance: none;
  border: none;
  outline: 0;
  height: 100%;
  width: 100%;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  font-size: large;
  color: rgb(100, 100, 100);
  padding-left: 10px;
}

.input-container span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  background-color: #e8ecef;
  font-size: large;
  font-weight: lighter;
  color: rgb(100, 100, 100);
}

#currency {
  text-align: center;
  width: 10%;
  border-left: 1px solid rgb(195, 195, 195);
  border-right: 1px solid rgb(195, 195, 195);
}

#current-balance {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

/* toggler buttons section */
.toggler-container,
.toggler-container div {
  display: inline-flex;
}

.toggler-container {
  margin: 0 1rem;
  height: 2.5rem;
  width: 25%;
}

.toggler-container div {
  width: 100%;
  justify-content: center;
  align-items: center;
}
#income:hover,
#expense:hover {
  cursor: pointer;
}

.income-passive {
  transition: all 250ms;
  color: #71ca65;
  border-top: 1px solid #71ca65;
  border-left: 1px solid #71ca65;
  border-bottom: 1px solid #71ca65;
  border-radius: 7px 0 0 7px;
}

.income-active {
  transition: all 250ms;
  background-color: #71ca65;
  /* border: 1px solid #71ca65; */
  border-radius: 7px 0 0 7px;
  color: white;
}

.expense-active {
  transition: all 250ms;
  background-color: #dc3546;
  color: white;
  border: 1px solid #dc3546;
  border-radius: 0 7px 7px 0;
}

.expense-passive {
  transition: all 250ms;
  background-color: white;
  color: #dc3546;
  border-top: 1px solid #dc3546;
  border-right: 1px solid #dc3546;
  border-bottom: 1px solid #dc3546;
  border-radius: 0 7px 7px 0;
}

/* transaction notes section */
.transaction-notes {
  display: flex;
  width: 100%;
  margin: 1rem 0 0 0;
}

.transaction-notes div {
  width: 25%;
  margin: 0 1rem 0 0;
}

.transaction-notes div div {
  width: 100%;
  margin: 10px 0;
}
.transaction-notes .input-container input {
  border-radius: 7px;
}

/* Add Transaction button section */
#hidden-label {
  display: none;
}

.add-transaction-btn {
  height: 2.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  background-color: #6c757d;
  border: none;
  outline: none;
  border-radius: 7px;
  color: white;
  font-size: large;
}

.add-transaction-btn:hover {
  transition: all 250ms;
  background-color: white;
  border: 1px solid #6c757d;
  color: #6c757d;
}
